.homeImage {
    width: 100%;
    margin: 0;
}
.introDiv {
    position: absolute;
    margin: 40px;
    width: 50%;
    font-family: 'Gruppo', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

.introDiv h3 {
    color:turquoise;   
}
.equip {
    background-image: url(../images/header.png);
    background-position: center;
    padding: 30px;
    font-family: 'Gruppo', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
    color: whitesmoke;
    height: 100%;
    text-shadow: 2px 2px black;
}
.equip h3 {
    margin-top: 0;
    color:turquoise;
    
}
.equip p {
    margin-bottom: 0;
}