.listProgramsDiv {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin: 0px 20px 50px 20px;
}
.programCard {
    padding: 0px 30px 0px 30px;
    margin: 20px;
    width: 80%;
    border-radius: 20px;
    border-style: outset;
    border-image: initial;
    background-color: #33393f;
    border-color:turquoise;
}

.programCard h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Gruppo', cursive;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.programCard h3:hover {
    color: turquoise;
}
