
.programForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.programForm label {
    padding: 10px;
    font-family: 'Gruppo', cursive;
    font-size: 1.5rem;
}
.programForm input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
}
.programForm textarea {
    width: 80%;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    font-size: 1rem;
}
.programForm button {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 1.2rem;
    font-family: 'Audiowide', cursive;
    border-radius: 5px;
}
.programForm button:hover {
    background-color:#33393f;
    color: turquoise;
    cursor: pointer;
}